
{{ form_start(form, {'attr': {'class': 'form-horizontal form-material'}}) }}
    <div class="form-group">
        <div class="col-md-12">
            {{ form_row(form.Name , {'attr': {'class': 'form-control form-control-line'}}) }}
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-12">
            {{ form_row(form.StartDate, {'attr': {'class': 'form-control form-control-line'}}) }}
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-12">
            {{ form_row(form.EndDate, {'attr': {'class': 'form-control form-control-line'}}) }}
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-12">
            {{ form_row(form.Location, {'attr': {'class': 'form-control form-control-line'}}) }}
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-12">
            {{ form_row(form.Logo, {'attr': {'class': 'form-control form-control-line'}}) }}
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-12">
            {{ form_row(form.Banner, {'attr': {'class': 'form-control form-control-line'}}) }}
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-12">
            {{ form_row(form.Description, {'attr': {'class': 'form-control form-control-line'}}) }}
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-12">
            {{ form_row(form.Budget, {'attr': {'class': 'form-control form-control-line'}}) }}
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-12">
            {{ form_row(form.OwnerName, {'attr': {'class': 'form-control form-control-line'}}) }}
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-12">
            {{ form_row(form.OwnerMail, {'attr': {'class': 'form-control form-control-line'}}) }}
        </div>
    </div>
    
    <div class="form-group">
        <div class="col-md-12">
            {{ form_row(form.Language, {'attr': {'class': 'form-control form-control-line'}}) }}
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-12">
            {{ form_row(form.Location, {'attr': {'class': 'form-control form-control-line'}}) }}
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-12">
            {{ form_row(form.Country, {'attr': {'class': 'form-control form-control-line'}}) }}
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-12">
            {{ form_row(form.Currency, {'attr': {'class': 'form-control form-control-line'}}) }}
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-12">
            {{ form_row(form.Active, {'attr': {'class': 'form-control form-control-line'}}) }}
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-12">
            <button class="btn btn-success">Save</button>
        </div>
    </div>
{{ form_end(form) }}