{% extends 'base.html.twig' %}

{% block title %}Events {% endblock %}


{% block breadcrumb %}

                <div class="row page-titles">
                    <div class="col-md-5 align-self-center">
                        <h4 class="text-themecolor">Events</h4>
                    </div>
                    <div class="col-md-7 align-self-center text-right">
                        <div class="d-flex justify-content-end align-items-center">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="{{ path('app_homepage') }}">Home</a></li>
                                <li class="breadcrumb-item active">Events</li>
                            </ol>
                            <a href="{{ path('app_events_new') }}" class="btn btn-info d-none d-lg-block m-l-15"><i class="fa fa-plus-circle"></i> Create New</a> 
                        </div>
                    </div>
                </div>
{% endblock %}

{% block body %}
                <div class="row">

                {% for event in events %}

                    <div class="col-lg-4 col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title"><a href="{{path('app_events_detail' , {'id': event.id })}}">{{ event.Name }} </a></h5>
                                <div class="row">
                                    <div class="col-6  m-t-30">

                                        {% if event.Active %}
                                            <h1 class="text-info">347 {{event.Currency}}</h1>
                                        {% else %}
                                            <h1 class="text-primary">347 {{event.Currency}}</h1>
                                        {% endif %}

                                        <b>(150 Sales)</b> 
                                    </div>
                                    <div class="col-6 m-t-30">
                                        <div class="text-right">
                                            {% if event.Logo %}
                                                <img src="/img/{{ event.Logo }}" alt="logo" width="80" >
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <br />
                                        <h6 ><i class="ti-calendar"></i> <i class="text-muted">from</i> {{ event.StartDate ? event.StartDate|date('j M Y') : '' }} <i class="text-muted"> to </i> {{ event.EndDate ? event.EndDate|date('j M Y') : '' }} </h6> 
                                        
                                        {% if event.Location %}
                                        <h6 class="text-muted"> <i class="ti-location-pin" ></i> {{ event.Location }}</h6>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                {% else %}
                    <h4>no Events found </h4>
                {% endfor %}
                    
                </div>
{% endblock %}